<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skymall.dao.CategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.skymall.domain.Category">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="keywords" property="keywords" />
        <result column="front_desc" property="frontDesc" />
        <result column="parent_id" property="parentId" />
        <result column="sort_order" property="sortOrder" />
        <result column="show_index" property="showIndex" />
        <result column="is_show" property="isShow" />
        <result column="banner_url" property="bannerUrl" />
        <result column="icon_url" property="iconUrl" />
        <result column="img_url" property="imgUrl" />
        <result column="wap_banner_url" property="wapBannerUrl" />
        <result column="level" property="level" />
        <result column="type" property="type" />
        <result column="front_name" property="frontName" />
    </resultMap>

</mapper>
