<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skymall.dao.SysPermissionsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.skymall.domain.SysPermissions">
        <id column="id" property="id" />
        <result column="pid" property="pid" />
        <result column="name" property="name" />
        <result column="value" property="value" />
        <result column="type" property="type" />
        <result column="uri" property="uri" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pid, name, value, type, uri, status, create_time, update_time
    </sql>
    
    <select id="getPermissionList" resultType="com.skymall.domain.SysPermissions" parameterType="Integer">
      select p.* from sys_permission p , sys_user_permission sup where p.id = sup.permission_id and sup.user_id = #{userId}
    </select>
    
    

</mapper>
