<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skymall.dao.CartMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.skymall.domain.Cart">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="session_id" property="sessionId" />
        <result column="goods_id" property="goodsId" />
        <result column="goods_sn" property="goodsSn" />
        <result column="product_id" property="productId" />
        <result column="goods_name" property="goodsName" />
        <result column="market_price" property="marketPrice" />
        <result column="retail_price" property="retailPrice" />
        <result column="number" property="number" />
        <result column="goods_specifition_name_value" property="goodsSpecifitionNameValue" />
        <result column="goods_specifition_ids" property="goodsSpecifitionIds" />
        <result column="checked" property="checked" />
        <result column="list_pic_url" property="listPicUrl" />
    </resultMap>




    <select id="queryList" resultType="com.skymall.vo.wechat.CartVo" parameterType="Map">
        select a.*,
        b.list_pic_url as list_pic_url,
        c.retail_price as retail_product_price
        from nideshop_cart a
        left join nideshop_goods b on a.goods_id = b.id
        left join nideshop_product c on c.goods_id = a.goods_id and c.id = a.product_id
        where 1 = 1
        <if test="user_id != null">
            AND a.user_id = #{user_id}
        </if>
        <if test="goods_id != null">
            AND a.goods_id = #{goods_id}
        </if>
        <if test="product_id != null">
            AND a.product_id = #{product_id}
        </if>
        <if test="checked != null">
            AND a.checked = #{checked}
        </if>
        order by a.id desc
    </select>


    <select id="queryPage" resultType="com.skymall.vo.admin.CollectEntity" parameterType="com.skymall.dto.CartQueryDto">
        select c.id, g.`name` goodsName,  g.goods_sn goodsSn, g.list_pic_url listPicUrl, g.is_on_sale isOnSale,
        g.market_price marketPrice, g.retail_price retailPrice, u.id userId, u.username userName
           from nideshop_goods g, nideshop_cart c , nideshop_user u
          where g.id = c.goods_id and u.id = c.user_id
          <if test="dto.goodsName != null">
              and g.name like concat('%', #{dto.goodsName}, '%')
          </if>
          <if test="dto.userName != null">
              and u.username like concat('%', #{dto.userName}, '%')
          </if>
          <if test="dto.userId != null">
              and u.id = #{dto.userId}
          </if>
          order by c.id
    </select>

    <delete id="deleteByUserAndProductIds">
        delete from nideshop_cart where product_id in
        <foreach item="id" collection="productIds" open="(" separator="," close=")">
            #{id}
        </foreach>
        and user_id = #{user_id}
    </delete>


    <update id="updateCheck">
        update nideshop_cart
        set `checked` = #{isChecked}
        where product_id in
        <foreach item="product_id" collection="productIds" open="(" separator="," close=")">
            #{product_id}
        </foreach>
        and user_id = #{userId}
    </update>

    <delete id="deleteByCart">
        delete from nideshop_cart
        where  user_id = #{user_id} and  session_id = #{session_id} and  checked = #{checked}
    </delete>




</mapper>
