<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skymall.dao.CartMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.skymall.domain.Cart">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="session_id" property="sessionId" />
        <result column="goods_id" property="goodsId" />
        <result column="goods_sn" property="goodsSn" />
        <result column="product_id" property="productId" />
        <result column="goods_name" property="goodsName" />
        <result column="market_price" property="marketPrice" />
        <result column="retail_price" property="retailPrice" />
        <result column="number" property="number" />
        <result column="goods_specifition_name_value" property="goodsSpecifitionNameValue" />
        <result column="goods_specifition_ids" property="goodsSpecifitionIds" />
        <result column="checked" property="checked" />
        <result column="list_pic_url" property="listPicUrl" />
    </resultMap>




    <select id="queryList" resultMap="com.skymall.vo.wechat.CartVo">
        select a.*,
        b.name as goodsName,
        b.list_pic_url as listPicUrl
        from nideshop_product a
        left join nideshop_goods b on a.goods_id = b.id
        <where>
            <if test="goods_id != null">
                and a.goods_id = #{goods_id}
            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by a.id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

</mapper>
