<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skymall.dao.GoodsSpecificationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.skymall.domain.GoodsSpecification">
        <id column="id" property="id" />
        <result column="goods_id" property="goodsId" />
        <result column="specification_id" property="specificationId" />
        <result column="value" property="value" />
        <result column="pic_url" property="picUrl" />
    </resultMap>

    <!--<resultMap id="WithSpecificationName" type="com.skymall.vo.GoodsSpecificationWithName">-->
        <!--<id column="id" property="id" />-->
        <!--<result column="goods_id" property="goodsId" />-->
        <!--<result column="value" property="value" />-->
        <!--<result column="pic_url" property="picUrl" />-->

        <!--<association property="specification" javaType="com.skymall.domain.Specification">-->
            <!--<id column="id" property="id" />-->
            <!--<result column="name" property="name" />-->
            <!--<result column="sort_order" property="sortOrder" />-->
        <!--</association>-->
    <!--</resultMap>-->


    <select id="getSpecificationWithName" parameterType="Integer" resultType="com.skymall.vo.GoodsSpecificationWithName">
        select gs.*, s.`name` name from nideshop_goods_specification `gs`, nideshop_specification s where gs.specification_id=s.id and gs.goods_id = #{id};
    </select>


    <select id="queryList" resultType="com.skymall.vo.wechat.GoodsSpecificationVo">
        select
        <if test="fields != null and fields != ''">
            ${fields}
        </if>
        <if test="fields == null or fields == ''">
            gs.*
        </if>
        from nideshop_goods_specification gs
        <if test="specification == true">
            inner join nideshop_specification s on gs.specification_id= s.id
        </if>
        <where>
            <if test="goods_id != null">
                and gs.goods_id = #{goods_id}
            </if>
            <if test="ids != null">
                and  gs.id in
                <foreach item="id" collection="ids" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by gs.id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>


    <select id="queryEntityList" resultType="com.skymall.vo.admin.GoodsSpecificationEntity" parameterType="com.skymall.dto.GoodSpecificationQueryDto">
        select
        nideshop_goods_specification.id,
        nideshop_goods_specification.goods_id,
        nideshop_goods_specification.specification_id,
        nideshop_goods_specification.value,
        nideshop_goods_specification.pic_url,
        nideshop_goods.name goods_name,
        nideshop_specification.name specification_name
        from nideshop_goods_specification
        LEFT JOIN nideshop_goods ON nideshop_goods.id = nideshop_goods_specification.goods_id
        LEFT JOIN nideshop_specification ON nideshop_specification.id = nideshop_goods_specification.specification_id
        WHERE 1=1
        <if test="dto.goodsName != null">
            AND nideshop_goods.name LIKE concat('%',#{dto.goodsName},'%')
        </if>
        <if test="dto.goodsId != null">
            AND nideshop_goods_specification.goods_id = #{dto.goodsId}
        </if>
        <if test="dto.specificationId != null">
            AND nideshop_goods_specification.specification_id = #{dto.specificationId}
        </if>
        order by nideshop_goods_specification.id desc
    </select>

</mapper>
