<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skymall.dao.ProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.skymall.domain.Product">
        <id column="id" property="id" />
        <result column="goods_id" property="goodsId" />
        <result column="goods_specification_ids" property="goodsSpecificationIds" />
        <result column="goods_sn" property="goodsSn" />
        <result column="goods_number" property="goodsNumber" />
        <result column="retail_price" property="retailPrice" />
        <result column="market_price" property="marketPrice" />
    </resultMap>
    
    <select id="queryList" resultType="com.skymall.vo.wechat.ProductVo" parameterType="Integer">
      select a.*, b.name `goodsName`, b.list_pic_url as list_pic_url from nideshop_product a left join nideshop_goods b on a.goods_id = b.id where a.goods_id = #{goodId}
    </select>

    <select id="queryObject" resultType="com.skymall.vo.wechat.ProductVo" >
		select a.*, b.name as goods_name, b.list_pic_url as list_pic_url
		from nideshop_product a left join nideshop_goods b on a.goods_id = b.id
		where a.id = #{value}
	</select>

    <select id="queryEntityList" resultType="com.skymall.vo.admin.ProductEntity" parameterType="com.skymall.dto.ProductQueryDto">
        select
        nideshop_product.id,
        nideshop_product.goods_id goodsId,
        nideshop_product.goods_specification_ids goodsSpecificationIds,
        nideshop_product.goods_sn goodsSn,
        nideshop_product.goods_number goodsNumber,
        nideshop_product.retail_price retailPrice,
        nideshop_product.market_price marketPrice,
        nideshop_goods.name goods_name goodsName
        from nideshop_product
        LEFT JOIN nideshop_goods ON nideshop_product.goods_id = nideshop_goods.id
        WHERE 1=1 dto.goodsId
        <if test="goodsId != null and goodsId.trim() != ''">
            AND nideshop_product.goods_id = #{goodsId}
        </if>
        <if test="goodsName != null and goodsName.trim() != ''">
            AND nideshop_goods.name LIKE concat('%',#{goodsName},'%')
        </if>
        order by nideshop_product.id desc
    </select>


</mapper>
