<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skymall.dao.SpecificationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.skymall.domain.Specification">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="sort_order" property="sortOrder" />
    </resultMap>

    <select id="querySpec" parameterType="com.skymall.domain.Specification" resultType="com.skymall.domain.Specification">
    select
    id id,
    name name,
    sort_order sortOrder
    from nideshop_specification
    where 1=1
    <if test="dto.id != null">
        AND id = #{dto.id}
    </if>
    <if test="dto.name != null">
        AND name = #{dto.name}
    </if>
    ORDER BY sort_order ASC
    </select>

</mapper>
